<%= form_for(@chinese) do |f| %>
  <% if @chinese.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chinese.errors.count, "error") %> prohibited this chinese from being saved:</h2>

      <ul>
      <% @chinese.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
